.mycard{
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: black;
    margin: 10px;
    color: white;
    border-radius: 3%;
    /* scroll-snap-align: start; */
}
.card-img {
    padding: 2%;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    border-radius: 3%;
    cursor: pointer;
 }
 .trending-movie{
    margin-top: 0;
    text-align: center;
 }